@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-primary-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-secondary: #f1f5f9;
  --color-border: #e2e8f0;

  /* gradients */
  --background-primary-gradient: linear-gradient(135deg, #4dd969, #28cd56);
  --background-primary-gradient-hover: linear-gradient(135deg, #45c961, #23b84f);

  --color-green-light: var(--color-green-light);
  --color-green-light-hover: var(--color-green-light-hover);
}

:root {
  /* COLORS */
  /* --color-primary: linear-gradient(to right, #4dd969, #28cd56); */
  --color-primary: #28cd56;
  --color-primary-hover: #23b84f;

  --color-green-light: #c9ffd5;
  --color-green-light-hover: #9eeeb0;

  /* BACKGROUND */
  --color-background: #fff;

  /* TEXT */
  --color-text-primary: #000;
  --color-text-secondary: #919191;

  /* BORDER */
  --color-border-light: #eeeeee;
}

.dark {
  /* COLORS */
  --color-primary: #28cd56;
  --color-primary-hover: #23b84f;

  --color-green-light: #c9ffd5;
  --color-green-light-hover: #9eeeb0;

  /* BACKGROUND */
  --color-background: #000;

  /* TEXT */
  --color-text-primary: #fff;
  --color-text-secondary: #919191;

  /* BORDER */
  --color-border-light: #eeeeee;
}

@layer base {
  html {
    height: 100%;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);

    height: 100%;
  }
}
